<div class="jumbotron">
    <h1>Quotes</h1>
  </div>
  <ul>
    <div *ngFor="let quote of quotes;let i=index">
      <li>{{quote.name}} written on {{quote.notedDate|date}}</li>
    <button (click)='toggleDetails(i)'>Details</button>
    <button (click)='upvote(i)'><i class="fa fa-thumbs-o-up"></i>{{quote.upvotes}}</button>
    <button (click)='downvote(i)'><i class="fa fa-thumbs-o-down"></i>{{quote.downvotes}}</button>
    <app-quote-details *ngIf="quote.showAuthor" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
  </div>
  </ul>